/* Error: expected "{".
 *    ,
 * 16 | @use "shared.scss" as *;
 *    |                        ^
 *    '
 *   script\css\main.scss 16:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 16 \2502  @use "shared.scss" as *;\d\a    \2502                         ^\a    \2575 \a   script\\css\\main.scss 16:24  root stylesheet';
}
